<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>R.A.D</title>
</head>
<body>
        <div class="jumbotron" style="margin-bottom:0px; color:white; background-color: deeppink">
                <h2 class="text-center"; style="font-size:50px; font-weight:600;">R.A.D Dashboard</h2>
        </div>

        <div>
            <iframe src="https://www.meteoblue.com/en/weather/widget/three/olathe_united-states-of-america_4276614?geoloc=fixed&nocurrent=0&noforecast=0&days=5&tempunit=FAHRENHEIT&windunit=MILE_PER_HOUR&layout=bright"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="width: 575px;height: 612px">
            </iframe>
            <div><!-- DO NOT REMOVE THIS LINK -->
                <a href="https://www.meteoblue.com/en/weather/forecast/week/olathe_united-states-of-america_4276614?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank"></a>
            </div>
        </div>

        <style>
        #outerdiv {
            width: 200px position: relative;
        }
        #innerdiv {
            position: absolute; right: 100px; top: 0px;clip:rect(200px 800px 860px 0px);
        }
        </style>

        <div id="outerdi">
        <div id="innerdiv">
        <div>
            <!-- used to embaed website -->
            <!--iframe width="800" height="700" src="https://powershell.org/articles/" scrolling="yes" frameborder="100"></iframe-->
        </div>
        </div>
        </div>
    <h2></h2>
    <form method="post"

          <div class="row" style="margin-bottom: 20px;">
              <label for="title">Title</label>
          </div>
    <div>
        <button type="submit">Placeholder</button>
    </div>
    </form>


</body>
</html>